#control {
  margin-top: 1em;
  margin-bottom: 1em;
}

input {
  font-weight: bold;
  border-radius: 5%;
  background-color: rgb(30, 30, 30);
  color: whitesmoke;
  border: 2px solid rgb(50, 50, 50);
}

.offsetBottom {
  margin-top: 3%;
}
